<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.staily.mypage.mapper.PaymentMapper">


<!-- 출력 -->
<select id="selectOne"
		parameterType="int"
		resultType="com.itwill.staily.mypage.model.dto.Payment">
	select py_no, m_no, py_name, py_price, py_period, py_type, py_date,end_date
	from payment
	where py_no= #{pyNo}
</select>

<!-- 리스트출력 -->
<select id="selectList"
		parameterType="int"
		resultType="com.itwill.staily.mypage.model.dto.Payment">
	select py_no, m_no, py_name, py_price, py_period, py_type, py_date,end_date
	from payment
	where m_no= #{mNo}
	order by end_date
</select>

<!-- 추가 -->
<insert id="createPayment"
		parameterType="com.itwill.staily.mypage.model.dto.Payment">
	insert into payment (py_no, m_no, py_price, py_date, py_name, py_period, py_type, end_date) 
        		  values(payment_no_seq.nextval, #{mNo}, #{pyPrice}, #{pyDate}, #{pyName}, #{pyPeriod}, #{pyType},#{endDate})
</insert>

<!-- 결제 후 company Y변경 -->
<update id="updateCompanyY"
		parameterType="int">
update company
set co_check='Y'
where m_no = #{mNo}
		
</update>

<!-- 결제 후 product Y변경 -->
<update id="updateProductY"
		parameterType="int">
update product
set p_check = 'Y'
where m_no= #{mNo}		
</update>

<!-- 종료 후 company N변경 -->
<update id="updateCompanyN"
		parameterType="int">
update company
set co_check='N'
where m_no = #{mNo}
		
</update>

<!-- 종료 후 product N변경 -->
<update id="updateProductN"
		parameterType="int">
update product
set p_check = 'N'
where m_no= #{mNo}		
</update>




</mapper>