@charset "UTF-8";

.p_content>h1,.p_content> h2,.p_content> h3,.p_content> h4 {
	
line-height: inherit;
   position: relative;
   margin: inherit;
   padding: inherit;
   border-bottom: inherit;
   font-size: inherit;
   font-family: inherit;
   font-weight: inherit;
   line-height: inherit;
   color: inherit;
   margin: inherit;
   font-size: inherit;
   font-weight: normal;
   line-height: inherit;

   font-size: inherit;
   margin-block-start: inherit;
   margin-block-end: inherit;
   margin-inline-start: inherit;
   margin-inline-end: inherit;
   font-weight: inherit;
	
    border-bottom: none;
	background-image: none !important;
	all:unset;
}

#boardWriteF {
	position: relative;
    top: 20px;
    left: 2rem;
}

#board2 {
	margin: -8px
}

.only-one-board {
	margin-top: 70px;
    left: 168px;
}
.m-t--120 {
	margin-top: -120px;
}
	
.p_content>h2:after, .p_content>h3:after, .p_content>h4:after, .p_content>h5:after{
	background-image: none !important;
}

.title_detail{
	margin-bottom: 15px;
}

.custom-select{
float:left;
	margin-right:5px;
	width: 115px;
   	margin-bottom: 7px;
}

.add_btn_detail{
	
    background-color: #717171;
}

.pagination>.active>a , .pagination>.active>a:hover {
	background-color: #e76115 !important;
   	border-color: #e76115 !important;
}

.table-responsive {
   	overflow-x: hidden;
}
	
.board-top {
	color: #e76115;
}

.board-title {
	 display: inline-block;
}

.text-left {
	text-align: right;
}

.font-small {
	font-size: small;
}

.sort {
	float: right;
}

.paging-button {
	background-color: #e76115;
    border-color: #e76115;
}

.reply_write {
	margin-top: 50px; 
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 25px;
}

.border-b-1-d8d8d8{
	border-bottom: 1px solid #d8d8d8;
}

.dispaly_none {
	display: none;
}

.title_detail{
	margin-bottom: 15px;
}

.custom-select{
float:left;
	margin-right:5px;
	width: 115px;
   	margin-bottom: 7px;
}

.add_btn_detail{
	
    background-color: #717171;
}

.p-top-21 {
    padding-top: 21px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-top-7 {
	padding-top: 7px;
}

.f-s-25 {
	font-size: 25px !important;
}

.m-top-21 {
	margin-top: 21px;
} 

.m-top-25 {
	margin-top: 25px;
}

.m-top-50 {
	margin-top: 50px;
} 
.m-top--40{
	margin-top: -40px;
}
.m-bottom-30{
	margin-bottom: 30px;
}
a > img {
    all:unset;
}
#canselB {
	margin-left: 10px;	
}

.clicked-button {
	background-color: #e76115;
    color: white;
}

.p-b-40 {
    padding-bottom: 40px;
}

#board-create-sidebar {
	left: 2rem;
}

