<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itwill.staily.stylecoodination.mapper.BoardCommonMapper">
<select id="selectBoardOrReply" parameterType="int" resultType="Board">
	SELECT B.*, M.m_id
	FROM board B
	JOIN member M
	ON (B.m_no = M.m_no)
	WHERE B_GROUPNO = #{bGroupNo}
	AND b_step = 2
</select>	
	
<select id="selectMNo" parameterType="String" resultType="int">
	SELECT m_no
	FROM member
	WHERE m_id = #{mId}
</select>

<select id="selectId" parameterType="int" resultType="String">
	SELECT m_id
	FROM member
	WHERE m_no = #{mNo}
</select>

<update id="updateBoardAndReply" parameterType="Board">
	UPDATE board 
	SET b_title = #{bTitle},
	    b_content = #{bContent},
	    b_category = #{bCategory}
	WHERE b_no = #{bNo}
</update>

</mapper>